.Light {
    color:black;
    background: white;
}

.Dark {
    color: white;
    background: black;
}

header {
    background-color: green;
}

nav {
    padding: 10px;
    margin: 10px;
}

nav li {
    display: inline-block;
    margin-right: 50px;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(255, 0, 0);
}

nav a {
    color: blue;
    text-decoration: none;
}

.hlavni {
    color: rgb(255, 255, 255);   
    background-color: blue;
    padding: 1px 10px 1px 10px;
    margin-bottom: 10px;
}

footer {
    background-color: red;
}

.historie {
    background-color: aqua;
    margin: 20px 100px 20px;
    padding: 10px;
    text-align: center;
    background-image: url("images/sipka.png");
    background-size: 512px 700px;
}

.historie div {
    background-color: rgb(221, 255, 0);
    margin: 5px 400px 5px;
    padding: 5px;
}