.Light {
    color:black;
    background: white;
}

.Dark {
    color: white;
    background: black;
}

header {
    background-color: green;
}

nav {
    padding: 10px;
    margin: 10px;
}

nav li {
    display: inline-block;
    margin-right: 50px;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(255, 0, 0);
}

nav a {
    color: blue;
    text-decoration: none;
}

.hlavni {
    color: rgb(255, 255, 255);   
    background-color: blue;
    padding: 1px 10px 1px 10px;
    margin-bottom: 10px;
}

footer {
    background-color: red;
}

.historie {
    background-color: aqua;
    margin: 20px 100px 20px;
    padding: 10px;
    text-align: center;
    background-image: url("images/sipka.png");
    background-size: 512px 700px;
}

.historie div {
    background-color: rgb(221, 255, 0);
    margin: 5px 400px 5px;
    padding: 5px;
}

.Pas {
    background-color: gray;
    margin: 10px;
    padding: 10px;
    padding-left: 150px;
    display: flex; 
    gap: 200px;
}

#Pas_2 {
    position: relative;
    bottom: 10px;
}

.Pas_img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    position: relative;
    top: 40px;
    right: 60px;
}

.Pas_nazev {
    background-size: 50px;
    font-size: 30px;
    background-color: red;
    padding: 0px 2px 2px 2px;
}

.Pas_popis {
    background-color: rgb(0, 128, 0);
    padding: 10px;
}

.Pas_celek {
    margin: 10px;
}  

#P_img {
    width: 1000px
}
